<div class="mainNavBar">
    <h1>Zero Space</h1>
</div>

<%= javascript_pack_tag 'application' %>
<%= react_component("HomeProvider", {} ) %>

<div style="display:flex;flex-direction:row;">
    <%= button_to "Feed", action: "feed", html: {width: "25%"} %>
    <%= button_to "Groups", action: "groups", html: {width: "25%"} %>
    <%= button_to "Connections", action: "connections", html: {width: "25%"} %>
    <%= button_to "Privacy Settings", action: "privacy_settings", html: {width: "25%"} %>
</div>

<%= javascript_pack_tag 'application' %>
<%= react_component("ConnectionsProvider", {} ) %>